header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: blue;
    text-align: center;
    height: 8vh;
}

.gap {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}